.container
  .header.navbar
    %h1
      CREATE CONNECTION
  .col-xs-4.col-xs-offset-4
    = simple_form_for @connection do |f|
      = f.input :airport_a_id, collection: @airports, label_method: lambda { |airport| airport.to_s }, :value_method => :id, :label => "SOURCE PORT"
      = f.input :airport_b_id, collection: @airports, label_method: lambda { |airport| airport.to_s }, :value_method => :id, :label => "DESTINATION PORT"
      %br
      = f.button :submit, "Submit", class: "btn btn-info submit"
